<div class="d-flex justify-content-center" *ngIf="token && email">
    <div class="col-12 col-lg-5">
      <main class="form-signin bg-secondary bg-gradient p-3 rounded">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
          <div class="mb-5 d-flex flex-column">
            <div>
              <img
                src="assets/images/bienvenue.png"
                alt="Image"
                height="150"
                class="mb-3"
              />
            </div>
            <h1 class="mb3 font-weight-normal text-center text-light">
                Modifiez votre mot de passe
              </h1>
          </div>
  
          <div class="form-floating mb-3">
            <input
              formControlName="email"
              type="text"
              class="form-control"
              placeholder="Adresse email"
            />
            <label for="email">Adresse email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              formControlName="newPassword"
              type="password"
              class="form-control"
              placeholder="Nouveau mot de passe"
              [class.is-invalid]="
                submitted && resetPasswordForm.get('newPassword')?.errors
              "
            />
            <label for="newPassword">Nouveau mot de passe</label>
            <span
              class="text-warning"
              *ngIf="
                submitted && resetPasswordForm.get('newPassword')?.hasError('required')
              "
            >
              Un mot de passe est requis!
            </span>
            <span
              class="text-warning"
              *ngIf="
                (submitted &&
                resetPasswordForm.get('newPassword')?.hasError('minlength')) ||
                resetPasswordForm.get('newPassword')?.hasError('maxlength')
              "
            >
              Le mot de passe doit contenir entre 8 et 15 caractères
            </span>
          </div>
  
          <div class="form-floating" *ngIf="errorMessages.length > 0">
            <app-validation-messages
              [errorMessages]="errorMessages"
            ></app-validation-messages>
          </div>
  
          <div class="row">
            <div class="col-6">
              <div class="d-grid">
                <button class="btn btn-block btn-info" type="submit">
                  Modifier le mot de passe
                </button>
              </div>
            </div>
            <div class="col-6">
                <div class="d-grid">
                  <button class="btn btn-block btn-secondary" type="button" routerLink="/account/login">
                    Annuler
                  </button>
                </div>
              </div>
          </div>
        </form>
      </main>
    </div>
  </div>
  